nav{
    background-color: white;
    border: 1px solid black;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

h2{
    margin-left: 30px;
}




